<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.example.cmotoemployee.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/NoActionBar"></activity>
    </application>
</manifest>